
<div class="container">   
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="card">
                <img [src]="iphoneSource" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple Iphone 13 Pro</h5>
                    <p class="card-text">{{iphone}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/31+G-o8iK-L._SX342_SY445_.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mac book pro 2022</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div> 